.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
}

.pagination-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 40px;
    height: 40px;
    text-decoration: none;
    transition: background-color .2s;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-container a.disabled {
    opacity: 0.2;
}

.pagination-container a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #7cbddb;
}

.pagination-container a:hover:not(.active) {
    background-color: rgb(238,238,238);
}